# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Fresh build directory
_fresh/
# npm dependencies
node_modules/

secretshare*

# @bjesuiter: ignores the vendor directory, will only be used in the compile process to make sure the wasm from the deno-tailwindcss-iso package is included
vendor
